h1{
    text-align: center;
    background-color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: darksalmon;
}
#ñoquis{
    display: flex ;
    align-content: center;
    justify-content: center;
}
ul li{
    text-align: justify;
    margin: 5 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol li{
    text-align: justify;
    margin :5 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;

}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#casita{
    display: flex;
    align-content: space-around;
    justify-content: right;
}
#boton{
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}